services:
  db:
    container_name: backyard_db
    image: postgres:16-alpine
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_USER: postgres
      POSTGRES_DB: backyard_db
    ports:
      - '5432:5432'
    volumes:
      - pgdata:/var/lib/postgresql/data
  backyard-server:
    build:
      context: .
      args:
        ENV: ${ENV}
        RPC_URL: ${RPC_URL}
        PROGRAM_ID: ${PROGRAM_ID}
        MASTER_WALLET_PRIVATE_KEY: ${MASTER_WALLET_PRIVATE_KEY}
        DATABASE_URL: ${DATABASE_URL}
        PORT: ${PORT}
    ports:
      - "${PORT}:${PORT}"
    env_file:
      - .env
  mailhog:
    image: mailhog/mailhog:latest
    restart: always
    ports:
      - '1025:1025'
      - '8025:8025'
volumes:
  pgdata:
